=content_for :javascripts do
	:coffeescript
		$(() ->
			window.userAddressForm = new Ananta.Views.Locations.AddressFormView(
				location: #{ render("locations/base.json", object: @profile.user.location) }
			)
			$("#edit_profile_location .boxed-group .inner").html(window.userAddressForm.render())
		)

.container-fluid
	.content
		#edit_profile_location.user-edit
			.row-fluid
				.span3
					= render 'users/edit_nav', user: @profile.user, active: 'location'
				.span9
					.boxed-group
						%h3
							Location
						.inner
							.center
								%br
								= image_tag "ajax-loader-white-bg.gif"
								%br
								%br