-content_for :title do "About Ananta IO" end

#about
	.page-header
		%h1
			About us
	.row
		.span4
			%h2
				%i.icon-home
				Intro
			%p
				We make it easy for you to: share what you're working on, get feedback, build teams, achieve your goals, gloat and get on with your life. 
		.span4
			%h2
				%i.icon-road
				Mission
			%p
				We want to connect like minded people around the projects that excite them. We believe that people and projects, big and small,  benefit from the support of their neighbors. 
		.span4
			%h2
				%i.icon-info-sign
				Name
			%p
				Ananta is Sanskrit for "infinite". IO is short for "input output". Infinite input ~> infinite ...

