-content_for :title do "About" end

#about
	%br
	%br
	%br
	%br
	%br
	%br
	.row
		.span4.offset4
			%h2
				%i.icon-play
				Intro
			%p
				Ananta IO is a tool for doers. We make it easy for you to: share what you're working on, get feedback, build teams, achieve your goals, and gloat. 
	.row
		.span4.offset4
			%h2
				%i.icon-road
				Mission
			%p
				We want to connect like-minded people around the projects that excite them. We believe that people and projects, big and small, benefit from the support of their neighbors. 
	/ .row
	/	.span4.offset4
	/		%h2
	/			%i.icon-pushpin
	/			Priorities
	/		%ol
	/			%li
	/				%h4
	/					Shorten feedback loops
	/				%p
	/					The faster you get feedback, the faster you can improve. That is why our first priority is to provide tools that allow you to get feedback on your projects immediately, while quickly connecting you with people who have the expertise, ability, and enthusiasm that will help see your project to completion.   
	/			%li
	/				more to come...
	.row
		.span4.offset4
			%h2
				%i.icon-lemon
				Name
			%p
				Ananta is Sanskrit for "infinite". She's also a person. And she's amazing!