-content_for :title do "About" end

#about
	.row-fluid
		.span4
		.span4
			%h2
				%i.icon-play
				What
			%p
				Ananta IO is a project database. It's a tool for doers. We make it easy for you to: <em>share what you're working on, get feedback, build teams, achieve your goals, and gloat.</em> 
	.row-fluid
		.span4
		.span4
			%h2
				%i.icon-road
				Why
			%p
				To organize the world's people. We want to connect like-minded people around the projects that excite them. We believe that people and projects, big and small, benefit from the support of their neighbors. 
	.row-fluid
		.span4
		.span4
			%h2
				%i.icon-lemon
				Who
			%p
				We are people who love building tools that inspire collaboration. Ananta IO is
				= link_to 'open source', "https://github.com/ananta-io/ananta", target: "_blank"
				and we encourage you to 
				= link_to 'join us', "/smothers/ananta"
				as we develop new and better tools. 
	/ .row-fluid
	/	.span4
	/	.span4
	/		%h2
	/			%i.icon-pushpin
	/			Priorities
	/		%ol
	/			%li
	/				%h4
	/					Shorten feedback loops
	/				%p
	/					The faster you get feedback, the faster you can improve. That is why our first priority is to provide tools that allow you to get feedback on your projects immediately, while quickly connecting you with people who have the expertise, ability, and enthusiasm that will help see your project to completion.   
	/			%li
	/				more to come...