-content_for :title do "Ananta IO - Show your work" end

#home
	.row#waywo
		%br
		%br
		%br
		%br
		.span6.offset3
			%object.icon.blueprint{:data => "assets/tnp-1050-blueprint.svg", :height => "40", :type => "image/svg+xml", :width => "40"}
			%input.span6{placeholder: 'What are you working on?', type: 'text'}