-content_for :title do "Ananta IO - The Project Database" end

=content_for :javascripts do
	:javascript
		$(function() {
			// Add project_flow to view
			Ananta.router = new Ananta.Routers.ProjectFlowRouter({ 'currentUser' : #{render("users/base.json.rabl", object: current_user)} });
			Backbone.history.start();
		});

#home
	#project_flow