-content_for :title do "Ananta IO - Show your work" end

#home
	.row#waywo
		.span12
			%h1.center
				Whatever you're working on &middot;
				%i{rel: 'tooltip', 'data-original-title' => "All #{number_with_delimiter(User.count)} of us"} We 
				would like to help
				%br
				%br 
				%br 
				%br 
		.span6.offset3
			%object.icon.blueprint{:data => "assets/tnp-1050-blueprint.svg", :height => "40", :type => "image/svg+xml", :width => "40"}
			%input.span6{placeholder: 'What are you working on?', type: 'text'}