-content_for :title do "The Project Database" end

=content_for :javascripts do
	:javascript
		$(function() {
			// Add project_flow to view
			Ananta.App.projectFlowRouter = new Ananta.Routers.ProjectFlowRouter({ 'currentUser' : #{render(partial: "users/base", formats: [:json], locals: { object: current_user } )} });
			Backbone.history.start();
		});

#home
	#project_flow