-content_for :title do "Ananta IO - The Project Database" end

=content_for :javascripts do
	:javascript
		$(function() {
			// Add project_flow to view
			Ananta.router = new Ananta.Routers.ProjectFlowRouter();
			Backbone.history.start();
		});

#home
	#project_flow