#projects
	.page-header
		%h1 
			Explore Projects
	.row-fluid
		.span12
			%ul.thumbnails
				- @projects.each do |project|
					= render 'thumbnail', project: project


/ = link_to 'New Project', new_project_path
