$('#project-grid').isotope('insert', $('<%= j render(@projects) %>'));
<% if @projects.current_page < @projects.num_pages %>
	$('#projects .pagination').replaceWith('<%= j paginate(@projects) %>');
<% else %>
	$('#projects .pagination').html('<li class="active"><a href="#">No more projects to load</a></li>');
<% end %>