-content_for :title do "projects" end

#projects
	.page-header
		%h1 
			Explore Projects
	.row-fluid
		.span9
			.row-fluid.project-list
				= render @projects
			= paginate @projects
		.span3
			.well
				filters


/ = link_to 'New Project', new_project_path
