-content_for :title do "projects" end

#projects
	.page-header
		%h1 
			Explore Projects
	.row-fluid
		.span12
			%ul.thumbnails
				= render @projects
			= paginate @projects


/ = link_to 'New Project', new_project_path
