// Font Sizes ---------------------------------------------------------

$base-font-size     : 14px;
$base-line-height   : 21px;

// Colors -------------------------------------------------------------

$color-base:            	#333;
$color-background:      	#FFF;
$color-background-hover:	#EEE;
$color-highlight:       	#0CD; //#08C;
$color-highlight2:      	#F27;
$color-border:          	#EEE;


// Reset --------------------------------------------------------------

// @import "h5bp";

// @include h5bp-display;
// @include h5bp-base;
// @include h5bp-links;
// @include h5bp-typography;
// @include h5bp-lists;
// @include h5bp-embeds;
// @include h5bp-figures;
// @include h5bp-forms;
// @include h5bp-tables;


// Compass -------------------------------------------------------------

@import "compass/css3";
@import "compass/utilities";
@import "compass/reset/utilities";
@import "compass/layout/sticky-footer";


// Mixins --------------------------------------------------------------

@mixin sans-family {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
}

@mixin serif-family {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: normal;
	font-weight: 300;
}

.clearfix{
	@include clearfix;
}

.center{
	text-align: center;
}

.display-block{
	display: block;
}

.display-inline-block{
	display: inline-block;
}

.font-normal{
	font-weight: normal;
}

.font-bold{
	font-weight: bold;
}

.font-thin{
	font-weight: 200;
}

.font-skinny{
	font-weight: 100;
}

.inline{
	display: inline;	
}

.off-screen{
	position: absolute;
	left: -999px;
}

.opacity1{ opacity: 0.1; }
.opacity2{ opacity: 0.2; }
.opacity3{ opacity: 0.3; }
.opacity4{ opacity: 0.4; }
.opacity5{ opacity: 0.5; }
.opacity6{ opacity: 0.6; }
.opacity7{ opacity: 0.7; }
.opacity8{ opacity: 0.8; }
.opacity9{ opacity: 0.9; }
