/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "base";
@import "jquery-ui/jquery-ui-1.8.16.ie.css";
@import "jquery-ui/jquery-ui-1.8.16.custom.css";
@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";
@import "token-input-facebook"; // TODO: merge into application css and restyle

@include sticky-footer(50px, "#wrapper", "#layout_footer", "#footer");

body{
	background: $color-background;
	@include sans-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

a{
	&:hover{
		text-decoration: none;
	}

	&:active{
		position: relative;
		top: 1px;
		left: 1px;
	}
}

// hack to disable bootstrap default icons
[class^="icon-"], [class*=" icon-"] {
	background-image: none;
	vertical-align: baseline;
}

.alert{
	a.close{
		&:active{
		 	top: -2px;
		 	right: -21px;
		 	left: auto;
		}	
	}
}

.popover{
	width: 100px;
	height: 100px;
	.content{
		padding: 0;
	}
}

.navbar{
	.navbar-inner{
		@include border-radius(0);
		@include box-shadow($color-background 0 0 0);
		background: $color-background;
		.container{
			position: relative;
		}
	}
	.brand{
		@include transition-property(all);
		@include transition-duration(0.5s);
		@include transition-timing-function(ease-in);
		letter-spacing: 0.05em;
		color: $color-base;
		&:hover{
			color: $color-highlight;
			i{
				opacity:1;
			}
		}
		i{
			color: $color-base;
			font-size: 16px;
			@include transition-property(all);
			@include transition-duration(0.5s);
			@include transition-timing-function(ease-in);
			opacity: 0;
			margin-top: 6px;
			margin-left: 0px;
		}
	}
	.nav{
		.dropdown{
			.caret{
				border-top-color: $color-base;
			}
			&.open{
				.dropdown-toggle{
					color: $color-base
				}
				.caret{
				 	border-top-color: $color-base;
				}	
			}
		}
		&>li{
			&>a{
				@include transition-property(all);
				@include transition-duration(0.5s);
				@include transition-timing-function(ease-in);
				letter-spacing: 0.2em;
				@include text-shadow(0 0 0 $color-background);
				&:hover{
					color: $color-base;
					background-color: $color-background-hover;
				}
			}
		}
		&.center{
			float: none;
			margin: 0 auto;
			width: 3em;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			&>li{
				width: 100%;
				float: none;
				text-align: center;
			}
			@media(max-width: 979px){
				margin: 5px auto 0;
			}
			a:hover{
				// background-color: rgba($color-base, 0.2);
			}
			a.active{
				background-color: #bbb;
				// background-color: rgba($color-base, 0.2);
				color: $color-base;	
			}
		}
	}
	.dropdown-menu{
		a:hover{
		 	// background-color: $color-background-hover;
		}	
	} 
}

.sub-header{
	border-bottom: 1px solid $color-border;
}

.tabs-left{
	.nav-tabs{
		margin-right: 0;
		border-right: 0px solid $color-background;
	}
	.tab-content{
		border-left: 1px solid $color-border;
		form{
			margin-bottom: 0;
			.control-group{
				margin-left: 18px;
				@media (max-width: 480px){
					margin-left: 10px;
				}
			}
			.form-actions{
				padding-left: 160+18px;
				margin-bottom: 0;
				@media (max-width: 480px){
					padding-left: 10px;
				}
			}
		}
	}
}

#marq{
	background-color: #ccc;
	@include box-shadow(rgba($color-base, 0.2) 0 0 3px 1px inset);
	.container{
		display: none;
		padding-top: 20px;
		#question_question{
			@media (max-width: 979px){
			 	width: 100%;
			}	
		}
	}
}