/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "base";
@import "jquery-ui/jquery-ui-1.8.16.ie.css";
@import "jquery-ui/jquery-ui-1.8.16.custom.css";
@import "bootstrap";
@import "bootstrap-responsive";
@import "token-input-facebook"; // TODO: merge into application css and restyle

@include sticky-footer(50px, "#wrapper", "#layout_footer", "#footer");

body{
	background: $color-background;
	@include sans-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

a{
	&:hover{
		text-decoration: none;
	}
}

.navbar{
	.navbar-inner{
		@include border-radius(0);
		@include box-shadow($color-background 0 0 0);
		background: $color-background;
		.container{
			position: relative;
		}
	}
	.brand{
		@include transition-property(all);
		@include transition-duration(0.5s);
		@include transition-timing-function(ease-in);
		letter-spacing: 0.05em;
		color: $color-base;
		&:hover{
			color: $color-highlight;
			i{
				opacity:1;
				visibility: visible;
			}
		}
		i{
			@include transition-property(all);
			@include transition-duration(0.5s);
			@include transition-timing-function(ease-in);
			opacity: 0;
			visibility: hidden;
			margin-top: 7px;
			margin-left: 5px;
		}
	}
	.nav{
		.dropdown{
			.caret{
				border-top-color: $color-base;
			}
			&.open{
				.caret{
				 	border-top-color: $color-base;
				}	
			}
		}
		&>li{
			&>a{
				@include transition-property(all);
				@include transition-duration(0.5s);
				@include transition-timing-function(ease-in);
				letter-spacing: 0.2em;
				@include text-shadow(0 0 0 $color-background);
				&:hover{
					color: $color-base;
					background-color: $color-background-hover;
				}
			}
		}
		&.center{
			float: none;
			margin: 0 auto;
			width: 3em;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			&>li{
				width: 100%;
				float: none;
				text-align: center;
			}
			@media(max-width: 979px){
				margin: 5px auto 0;
			}
		}
	}
	.dropdown-menu{
		a:hover{
		 	// background-color: $color-background-hover;
		}	
	} 
}

.sub-header{
	border-bottom: 1px solid #EEE;
}