-# Options
-# warning = yellow, error = red, notice (and) success = green, info = blue
#flash
  -flash.each do |name, msg|
    -if msg.kind_of?(Array)
      -msg.each do |msg|
        %div{ title: name.to_s.humanize, class: "alert #{tb_alert_name name}" }
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          = raw msg
    -else
      %div{ title: name.to_s.humanize, class: "alert #{tb_alert_name name}" }
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        = raw msg