.navbar
	.navbar-inner
		.container
			%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.brand{:href => "/"} ananta IO
			.nav-collapse
				-if current_user
					%ul.nav.pull-right
						= link_to "logout", "/logout"

				-else
					%ul.nav.pull-right
						%li
							= link_to "login", "/login"
							
				
				