= javascript_include_tag "application"

:javascript
  // $('.modal').modal()
  $('.dropdown-toggle').dropdown()
  $('.scrollspy').scrollSpy()
  $('.btn').button()
  $('.tabs').tabs()
  $('.tooltip').tooltip()
  $('.popover').popover()
  $('.alert-message').alert()
  $('.collapse').collapse()
  $('.carousel').carousel()
  $('.typeahead').typeahead()
      
-#  Append your own using content_for :javascripts
= yield :javascripts

-# Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
-# chromium.org/developers/how-tos/chrome-frame-getting-started
/[if lt IE 7 ]
  %script{ defer: true, src: "//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js" }
  %script{ defer: true } window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
